ipykernel
numpy
pandas
pdfplumber
spaCy
NLTK
torch
pymupdf
transformers == 4.51.3
datasets
scikit-learn
rouge_score
numpy
matplotlib
tqdm
requests
PyPDF2
pathlib
streamlit
torchvision
import-ipynb
sentencepiece