ipykernel
numpy
pandas
pdfplumber
spaCy
NLTK
os
re
torch
fitz
transformers
datasets
sklearn.model_selection
rouge_score
numpy
matplotlib
tqdm
requests
json
time
tkinter
concurrent.futures
PyPDF2
pathlib